<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

<form action="/account/logout" method="post">
    <button type="submit">Logout</button>
</form>