/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#main-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; 
  color:azure;
}

#main-ul li {
  padding: 20px;
  padding-left: 5%;
  flex: 1;
}

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.siteName a {
  all: unset;
  font-size: 30px;
}

#tools a {
  all: unset;
}

#car-info h2, h3 {
  margin: 3px;
  color:rgb(0, 191, 255);
}

#car-info button {
  margin: 20px;
}

#bottom-div {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  #bottom-div {
    display: grid;
    grid-template-rows: auto auto;
  }

  #reveiws-div {
    grid-row: 1/2;
  }

}

#login-form {
  font-size: 20px;
  background-color: #333;
  color: white;
  max-width: 350px;
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  border: 2px solid rgb(107, 62, 0); /* Outline */
}

#login-form, input {
  margin-bottom: 30px;
  width: 100%;
}

.center-button-container {
  text-align: center;
}

.center-button-container, button {
  font-size: 20px;
}

#register-form {
  font-size: 20px;
  max-width: 350px;
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  border: 2px solid rgb(107, 62, 0); /* Outline */
}

#register-button {
  background-color: rgb(0, 89, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 20px; /* Rounded corners */
}
