<!-- * File added week 3 -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<%- grid %>


<!-- * Individual Project -->

<% if (req.isAuthenticated()) { %>
  <button type="submit" id="favorite-button">Favorite</button>
<% } else { %>
  <p>You must be logged in to save as favorite.</p>
<% } %>