<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>


<a href="/inventory/add-classifcation">add new classification</a>
<a href="/inventory/add-inventory">add new inventory</a>

<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items that belong to the classification.</p>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>